header {
  display: grid;
  place-items: flex-end center;
  height: 4.75rem;

  @media (min-width: 90rem) {
    height: 6.75rem;
  }
}

/* hero */

.hero {
  display: grid;
  justify-items: center;
  max-width: 28rem;
  text-align: center;

  margin-top: 17rem;
  margin-inline: auto;
  margin-bottom: 4rem;

  @media (min-width: 768px) {
    margin-top: 27.4375rem;
    margin-bottom: 7.5rem;
  }

  @media (min-width: 1440px) {
    margin-top: 5.4375rem;
  }
}

.hero__heading,
.hero__text {
  margin-bottom: 1.5rem;

  @media (min-width: 1440px) {
    margin-bottom: 2rem;
  }
}

.hero__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

/* workspace */

.workspace {
  display: grid;
  justify-items: center;
  padding-top: 6.75rem;
}

.workspace__gallery {
  margin-bottom: 4rem;
}

.workspace__slug {
  margin-bottom: 1rem;
}

.workspace__counter {
  position: relative;
  margin-bottom: 4rem;
}

.workspace__container {
  max-width: 31.5rem;
}

.workspace__heading {
  margin-bottom: 2rem;
  max-width: 27.8125rem;
}

/* footer */

.footer {
  padding-top: 6.75rem;
  margin-top: 4rem;

  @media (min-width: 90rem) {
    margin-top: 4.5rem;
  }
}

.footer__wrapper {
  position: relative;
  padding-block: 4rem;
  padding-inline: 2rem;
  background-color: color-mix(in srgb, var(--color-primary) 90%, transparent);
}

.footer__counter {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.footer__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  background-image: url("../assets/images/mobile/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.95;

  @media (min-width: 768px) {
    background-image: url("../assets/images/tablet/image-footer.jpg");
  }

  @media (min-width: 1440) {
    background-image: url("../assets/images/desktop/image-footer.jpg");
  }
}

.footer__content {
  display: grid;
  align-items: center;
  gap: 1.5rem;
  color: white;
  text-align: center;
  max-width: 30rem;
  margin: auto;

  @media (min-width: 768px) {
    max-width: 31.5rem;
  }

  @media (min-width: 1440px) {
    grid-template-columns: 1fr 1fr max-content;
    align-items: flex-start;
    text-align: initial;
    gap: 5rem;
    max-width: 70rem;
  }

  > .heading {
    color: white;
  }
}

.footer-grid__button {
  justify-self: center;
}
